.App {
  text-align: center;
}

header h1{
  font-size: 3em;
  background-color: #ffd60a;
  margin-top: 0;
}

.category-card {
  width: 90%;
  display: inline-block;
  background-color: #ffd60a;
  margin-left: 25px;
  margin-right: 45px;
  margin-top: 150px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-radius: 25px;
}

img { /*img for drink categories*/
  width: 150px;
  height: 150px;
}

.button { /*drink category button(s)*/
  width: 80px;
  height: 40px;
  color: white;
  background-color: black;
}

.milk-tea-form {
  background-color: #d00000;
}

.milk-tea-flavors {
  display: inline-block;
}

.mill-tea-toppings {
  display: inline-block;
}