.App {
  text-align: center;
}

.header {
  background-color: #ffd60a;
  margin-top: 0;
  font-size: 3em;
}

.category-card {
  width: 35%;
  display: inline-block;
  background-color: #ffd60a;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 150px;
  padding-top: 40px;
  padding-bottom: 60px;
  border-radius: 25px;
}

img {
  width: 150px;
  height: 150px;
}

.button {
  width: 80px;
  height: 40px;
  color: white;
  background-color: black;
}